
<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <h1 class="mt-2">Sitio web en construcción</h1>
    </div>
    <div class="row text-center mt-2">
      <div class="col">
        <img src="../assets/en-construccion.webp" class="img-fluid" alt="contruccion">
      </div>
    </div>
    <div class="row text-center mt-2">
      <div class="col">
        <a class="btn btn-primary" href="https://linktr.ee/alopezciotta" role="button">@alopezciotta</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
